@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.woff2') format('woff2'),
    url('../fonts/icons.woff') format('woff');
  font-display: swap;
}

[class^='icon-'] {
  font-family: 'icons';
  line-height: 1;
  color: #3d6177;
  display: inline-flex;
  align-items: center;
}

.icon-facebook::before {
  content: '\e900';
  font-size: 2.2rem;
}
.icon-linkedin::before {
  content: '\e901';
  font-size: 2.2rem;
}
.icon-logo::before {
  content: '\e902';
  font-size: 2rem;
}
.icon-twitter::before {
  content: '\e903';
  font-size: 2rem;
}

.icon-array::before {
  content: '\e904';
  font-size: 0.7rem;
}

::after,
::before {
  box-sizing: border-box;
}

:root {
  --color-main: #566666;
  --color-title: #414d4d;
  --color-button: #3d6177;
  --color-button-hover: #304c5e;
  --color-header: #c5dddd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: top;
}

ul,
ol,
li,
details,
summary {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  font: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 1.5;
  background-color: #fcffff;
  font-family: 'Rubik', sans-serif;
  color: var(--color-main);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body > .main {
  flex: 1;
}
body.no-scroll {
  overflow: hidden;
}

[class$='__container'] {
  margin: 0 auto;
  max-width: 114rem;
  padding: 0 1.5rem;
}

.title {
  font-weight: 600;
  font-size: 4.2rem;
  line-height: 1.19047619;
  color: var(--color-title);
}
.title_big {
  font-size: 5.6rem;
  line-height: 1.1785714285;
}

.article {
  display: grid;
  gap: 2.4rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
.article__figure:not(:last-child) {
  margin-bottom: 4rem;
}
.article__figure:not(:last-child) .article__img {
  margin-bottom: 2.4rem;
}
.article__img {
  width: 100%;
}
.article__title {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.181818181;
  color: var(--color-title);
}
.article__read {
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--color-button);
}

.form {
  width: 100%;
  max-width: 56rem;
  padding: 1.6rem;
  display: flex;
  background-color: #ffffff;
  outline: 0.2rem solid #e0eeee;
  gap: 1rem;
  border-radius: 2.4rem;
}
.form__input {
  flex: 1 1 auto;
  border: none;
  border-radius: 1rem;
  padding: 2.2rem 1.6rem;
}
.form__input:focus {
  outline: 0.1rem solid #cddbdb;
}
.form__button {
  background: var(--color-button);
  border-radius: 1.6rem;
  font-weight: 600;
  color: #fcfeff;
  padding: 2rem;
  flex: 0 1 20rem;
  transition: background-color 0.3s ease;
}
.form__button:hover {
  background-color: var(--color-button-hover);
}

.spoiler__item[open] .spoiler__icon {
  transform: rotate(180deg);
}
.spoiler__icon {
  transition: transform 0.2s ease;
}
.spoiler__title {
  font-weight: 600;
  padding: 2.4rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}
.spoiler__title:hover {
  cursor: pointer;
}
.spoiler__body {
  margin-top: 0.5rem;
}
.spoiler__item:not(:last-child) > .spoiler__title {
  border-bottom: 0.1rem solid #e6f2f2;
}

.logo {
  justify-self: start;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
}
.nav__link {
  font-size: 1.6rem;
  color: #59564f;
}
.nav__link:hover {
  text-decoration: underline;
}

.social {
  display: flex;
  justify-self: center;
  flex-wrap: wrap;
  gap: 0.5rem 2rem;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.8rem;
  height: 2.8rem;
  transition: background-color 0.3s ease;
  border-radius: 0.3rem;
}
.social__link:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.burger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 1.5rem;
}
.burger__span,
.burger__span::after,
.burger__span::before {
  width: 100%;
  height: 0.2rem;
  background-color: var(--color-main);
}
.burger__span {
  position: relative;
  transition: background-color 0.1s linear;
}
.burger__span::after,
.burger__span::before {
  content: '';
  position: absolute;
  transition: transform 0.2s ease;
  left: 0;
  top: 0;
}
.burger__span::after {
  transform: translateY(0.65rem);
}
.burger__span::before {
  transform: translateY(-0.65rem);
}

.header {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: var(--color-header);
  z-index: 50;
}
.header__container {
  min-height: 10rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1rem;
}

.home {
  margin-top: 10rem;
  padding: 18.4rem 0 12.8rem 0;
}
.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__title {
  max-width: 89rem;
  margin-bottom: 0.857142857em;
  text-align: center;
}
.home__email-client {
  margin-top: 20rem;
  display: flex;
  gap: 2rem 8.8rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.reviews {
  background-color: #c5dddd;
  padding: 9.6rem 0;
}
.reviews__comment {
  font-weight: 600;
  font-size: 3.6rem;
  color: var(--color-title);
  margin-bottom: 0.666666666em;
}
.reviews__author span {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.181818181;
}

.why {
  padding: 17.7rem 0;
}
.why__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
}
.why__title:not(:last-child) {
  margin-bottom: 0.309523809em;
}
.why__description:not(:last-child) {
  margin-bottom: 2.222222222em;
}

.issues__title:not(:last-child) {
  margin-bottom: 0.38095238em;
}
.issues__p:not(:last-child) {
  margin-bottom: 3.555555555em;
}
.issues__article {
  margin-bottom: 12.8rem;
}

.contact {
  text-align: center;
  padding: 9.6rem 0;
  background-color: rgba(197, 221, 221, 0.5);
}
.contact__title:not(:last-child) {
  margin-bottom: 0.14285714285em;
}
.contact__p:not(:last-child) {
  margin-bottom: 1.7777777777em;
}
.contact__form {
  margin: 0 auto;
}

.footer {
  position: static;
}

/* 1019 */

@media (min-width: 63.75em) {
  .why__container {
    display: grid;
    grid-template-columns: 40.54054054% 1fr;
    align-items: center;
    justify-items: end;
  }
}

@media (max-width: 63.6875em) {
  .why__content {
    max-width: 70rem;
  }

  .home,
  .why {
    padding: 10rem 0 6.4rem 0;
  }
  .home__email-client {
    margin-top: 7rem;
  }

  .reviews {
    padding: 3rem 0;
  }

  .issues__article {
    margin-bottom: 6.2rem;
  }
  .article__figure:not(:last-child) {
    margin-bottom: 2rem;
  }

  .contact {
    padding: 4.4rem 0;
  }
}

/* 866 */
@media (min-width: 54.125em) {
  .header__container {
    grid-template-columns: 1fr 50rem 1fr;
  }

  .social {
    gap: 0.5rem 3.2rem;
  }
}

/* 767 */
@media (min-width: 48em) {
  .nav {
    justify-content: center;
    gap: 0.5rem 5.6rem;
  }
}

@media (max-width: 47.9375em) {
  .nav {
    gap: 0.5rem 2rem;
  }

  .home,
  .why {
    padding: 5rem 0;
  }
  .title_big,
  .title {
    font-size: 4rem;
  }
  .home__email-client {
    margin-top: 4rem;
  }

  .reviews__comment {
    font-size: 2.6rem;
  }

  .issues__article {
    margin-bottom: 4rem;
  }
}

/* 767 and 640 */
@media (max-width: 47.9375em) and (min-width: 38.75em) {
  .nav {
    flex: 1;
    justify-content: flex-end;
  }

  .social {
    margin-left: 1.5rem;
  }
}

/* 640 */
@media (min-width: 38.75em) {
  .nav {
    flex-wrap: wrap;
    align-items: center;
  }

  .social {
    justify-self: end;
  }

  .burger {
    display: none;
  }
}

@media (max-width: 38.74em) {
  .nav:not(.footer__nav) {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    transition: left 0.2s ease-out;
    background-color: var(--color-main);
    padding: 11rem 1.5rem 1rem 1.5rem;
    overflow: auto;
    flex-direction: column;
    align-items: flex-end;
    z-index: -1;
  }
  .nav:not(.footer__nav)::before {
    content: '';
    position: fixed;
    min-height: 10rem;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-header);
  }
  .nav:not(.footer__nav) .nav__link {
    font-size: 4rem;
    color: rgb(255, 255, 255);
  }

  .form {
    flex-direction: column;
  }
  .form__button {
    flex: 0 0 1rem;
  }

  .reviews__comment {
    font-size: 2rem;
  }

  .article__figure:not(:last-child),
  .article__figure:not(:last-child) .article__img {
    margin-bottom: 1.5rem;
  }

  .contact {
    padding: 4.4rem 0;
  }

  .footer__container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }

  .menu-active .burger__span {
    background-color: transparent;
  }
  .menu-active .burger__span::after {
    transform: translateY(0) rotate(45deg);
  }
  .menu-active .burger__span::before {
    transform: translateY(0) rotate(-45deg);
  }
  .menu-active .nav {
    left: 0;
  }
}

/* 480 */

@media (max-width: 30em) {
  .home {
    padding: 4rem 0;
  }
  .title_big,
  .title {
    font-size: 3.2rem;
  }
}
